<!DOCTYPE html>
{% extends 'base_template.html' %}

    {% block active3 %}
        active
    {% endblock %}

    {% block content %}
        <!-- Breadcrumb-->
        <div class="breadcrumb-holder">
            <div class="container-fluid">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Management</a></li>
                    <li class="breadcrumb-item active">Template file</li>
                </ul>
            </div>
        </div>

    <section class="forms">
        <div class="container-fluid">
          <!-- Page Header-->
          <header>
            <h1 class="h3 display">Template file</h1>
          </header>
          <div class="container">

          </div>
          <div class="row">
              <div class="col-lg-12">
              <div class="card">
                <div class="card-header">
                  <h4>File
                  <button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-success float-right">New template file</button>
                  <!-- Modal-->
                  <div id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
                    <div role="document" class="modal-dialog modal-lg">
                      <div class="modal-content">
                        <div class="modal-header" style="padding: 5px; padding-right: 15px">
                          <!--<h5 id="exampleModalLabel" class="modal-title">New file</h5>-->
                          <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                        </div>
                        <div class="modal-body" style="padding-top: 0px;">
                          <form action="/template_file/" method="post" name="form1" enctype="multipart/form-data">
                            <br>
                              {% csrf_token %}
                              {{ form.as_p }}
                            <div class="modal-footer">
                              <button type="submit" value="create" class="btn btn-blue">Add template file</button>
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                  </h4>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-striped table-hover">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>File name</th>
                          <th>Create Date</th>
                          <th>Description</th>
                          <th>Model</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for i in file %}
                            <tr>
                              <th scope="row">{{ i.id }}</th>
                              <td><a href="" onclick="myFunction({{ i.id }})">{{ i.upload }}</a></td>
                                  <script>
                                    function myFunction(x) {
                                    window.open("/view_file/"+x, "_blank", "toolbar=yes,scrollbars=yes,resizable=yes,top=500,left=500,width=700,height=500");
                                    }
                                  </script>
                              <td>{{ i.create_date }}</td>
                              <td>{{ i.description }}</td>
                              <td>{{ i.modID.name }}</td>
                              <td><a href="/delete/{{ i.id }}"><button type="button" class="btn btn-danger">Delete</button></a></td>
                            </tr>
                        {% endfor %}
                      </tbody>

                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>
    {% endblock %}
